<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="login" method="post">
        {%csrf_token%}
        Username: <input type="text" name="username" id="" placeholder="Enter username of email"><br>
        Password: <input type="password" name="password" id="" placeholder="Enter your Password">
        <input type="submit" value="Login">
    </form>
    {% for message in messages%}
    <div> 
        <h3>{{message}}</h3>
    </div>
     {% endfor%}
</body>
</html>